.cardList {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
.cardTitle {
  color: rgb(211, 211, 211);
  margin: 1rem 0;
}
.cardTitle span {
  padding: 10px;
}
.cardWrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
@media (max-width: 991px) {
  .cardWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
